@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#E8F5E9] text-stone-900 antialiased selection:bg-emerald-300 selection:text-stone-950 min-h-screen;
    background-color: #E8F5E9;
    background-image: radial-gradient(#10b981 0.75px, transparent 0.75px), radial-gradient(#94a3b8 0.75px, #E8F5E9 0.75px);
    background-size: 24px 24px;
    background-position: 0 0, 12px 12px;
  }
}

/* Custom crisp high-density scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 9999px;
  border: 1px solid #e2e8f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #059669;
}

